

@{
    ViewBag.Title = "OurProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle-part">
    <style>
        .process-section {
            border-top: 2px dashed;
            border-color: #aaa !important;
            margin: 0;
            padding: 30px;
        }

            .process-section:nth-child(even) {
                border-left: 2px dashed;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                margin-right: 30px;
                padding-right: 0;
            }

            .process-section:nth-child(odd) {
                border-right: 2px dashed;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                margin-left: 30px;
                padding-left: 0;
            }

            .process-section:first-child {
                border-top: 0;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            .process-section:last-child {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .process-section h1 {
                display: inline-block;
                text-align: center;
                padding: 10px 23px;
                border: solid 2px #aaa;
                border-radius: 50%;
            }
    </style>
    <div class="slide-part" style="margin-bottom:20px;">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active ">
                    <center> <img class="img-responsive" src="~/uploads/banner/CcERlJcQ0i.jpg"> </center>
                    <div class="carousel-caption">
                        <h1>Our Process And Works 1 </h1>
                        <!--
                                  <a href="http://www.google.com" class="btn btn-black">works</a>
                              -->
                    </div>
                </div>
                <div class="item ">
                    <center> <img class="img-responsive" src="~/uploads/banner/tai74znZYO.jpg"> </center>
                    <div class="carousel-caption">
                        <h1>Our Process And Works </h1>
                        <!--
                                  <a href="http://user1.codespur.us/bagru/our-process" class="btn btn-black">Process</a>
                              -->
                    </div>
                </div>

            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon " aria-hidden="true"> <img class="left" src="~/assets/default/images/banner_arrow.png"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon " aria-hidden="true"><img class="left" src="~/assets/default/images/banner_arrow2.png"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-offset-2">
                <div class="process-section">
                    <h1>1</h1>
                    <div class="row">
                        <div class="col-sm-4"><img class="img-responsive img-thumbnail" src="~/assets/default/images/c5.jpg"></div><div class="col-sm-8">
                            <h4> iusto quas eligendi corporis id eius corrupti</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?</p>
                        </div>
                    </div>
                </div>
                <div class="process-section">
                    <h1>2</h1>
                    <div class="row">
                        <div class="col-sm-8">
                            <h4> iusto quas eligendi corporis id eius corrupti</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?</p>
                        </div><div class="col-sm-4"><img class="img-responsive img-thumbnail" src="~/assets/default/images/c5.jpg"></div>
                    </div>
                </div>
                <div class="process-section">
                    <h1>3</h1>
                    <div class="row">
                        <div class="col-sm-4"><img class="img-responsive img-thumbnail" src="~/assets/default/images/c5.jpg"></div><div class="col-sm-8">
                            <h4> iusto quas eligendi corporis id eius corrupti</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?</p>
                        </div>
                    </div>
                </div>
                <div class="process-section">
                    <h1>4</h1>
                    <div class="row">
                        <div class="col-sm-8">
                            <h4> iusto quas eligendi corporis id eius corrupti</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?</p>
                        </div><div class="col-sm-4"><img class="img-responsive img-thumbnail" src="~/assets/default/images/c5.jpg"></div>
                    </div>
                </div>
                <div class="process-section">
                    <h1>5</h1>
                    <div class="row">
                        <div class="col-sm-4"><img class="img-responsive img-thumbnail" src="~/assets/default/images/c5.jpg"></div><div class="col-sm-8">
                            <h4> iusto quas eligendi corporis id eius corrupti</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?</p>
                        </div>
                    </div>
                </div>
                <div class="process-section">
                    <h1>6</h1>
                    <div class="row">
                        <div class="col-sm-8">
                            <h4> iusto quas eligendi corporis id eius corrupti</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, iste iusto quas eligendi corporis id eius corrupti temporibus velit? Molestias harum voluptatibus veritatis explicabo ut velit deserunt, saepe sit commodi?</p>
                        </div><div class="col-sm-4"><img class="img-responsive img-thumbnail" src="~/assets/default/images/c5.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


