@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://checkout.razorpay.com/v1/razorpay.js"></script>
<div class="slide-part as">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active ">
                <center> <img class="img-responsive" src="~/uploads/banner/banner5.jpg"> </center>
                <div class="carousel-caption">
                    <h1>Neele Dhaage</h1>
                    <a href="www.bagruboutique.com.html" class="btn btn-black">Neele Dhaage</a>
                </div>
            </div>
            <div class="item ">
                <center> <img class="img-responsive" src="~/uploads/banner/banner4.jpg"> </center>
                <div class="carousel-caption">
                    <h1>DISCOVER OUR STORY </h1>
                    <a href="http://user1.codespur.us/bagru/aboutus" class="btn btn-black">DISCOVER OUR STORY</a>
                </div>
            </div>
            <div class="item ">
                <center> <img class="img-responsive" src="~/uploads/banner/banner2.jpg"> </center>
                <div class="carousel-caption">
                    <h1>PREVIEW THE NEW COLLECTION </h1>
                    <a href="http://user1.codespur.us/bagru/aboutus" class="btn btn-black">PREVIEW THE NEW COLLECTION</a>
                </div>
            </div>
            <div class="item ">
                <center> <img class="img-responsive" src="~/uploads/banner/banner1.jpg"> </center>
                <div class="carousel-caption">
                    <h1>COLLECTION100% pure cottons </h1>
                    <a href="http://user1.codespur.us/bagru/sale?tag=sale" class="btn btn-black">COLLECTION100% pure cottons</a>
                </div>
            </div>

        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon " aria-hidden="true"> <img class="left" src="assets/default/images/left.png"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon " aria-hidden="true"><img class="right" src="assets/default/images/right.png"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<div class="middle-part">
    <div class="container-fluid">
        <div class="row collection hide">
            <div class="product-ad-banner">
                <div class="col-sm-8">
                    <div class=" banner-left">
                        <div class="bn-descp">
                            <h1>COLLECTION</h1>
                            <h2>100% pure cottons </h2>
                            <a href="sale-tag=sale.html" class="btn btn-primary btn-sm ">shop now</a>
                        </div>
                        <img src="assets/default/images/big-banner.jpg" alt="">
                    </div>
                </div>
                <div class=" col-sm-4">
                    <div class=" banner-right">
                        <div class="bn-descp2">
                            <h1>COLLECTION</h1>
                            <h2>100% pure fabric </h2>
                            <a href="sale-tag=sale.html" class="btn btn-warning btn-sm">shop now</a>
                        </div>
                        <img class="img-responsive" src="assets/default/images/small-banner.jpg" alt="">
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <!--  <div class="row" style="margin-top:50px;">

             <div class="col-md-4 col-sm-4">
                 <div class="table2">
                     <div class="cell home-bg-image" style="vertical-align:bottom; background:url('uploads/banner/m385gMUa05.jpg') no-repeat center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;">
                         <div class="over-lay">
                             <h1>Artisons Work</h1><a href="artisans-work.html" class="btn btn-warning">just</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-8 col-sm-8">
                 <div class="table2">
                     <div class="cell home-bg-image" style="vertical-align:bottom; background:url('uploads/banner/tEhD9RlBWW.jpg') no-repeat center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;">

                         <div class="over-lay">
                             <h1>Our History</h1><a href="our-history.html" class="btn btn-warning">contact</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div> -->
        <div class="row">
        </div>


        <div class="row just-in">
            <div class="col-sm-12">
                <div class="must-have">
                    <div class="col-md-12 title-container">
                        <div class="line hidden-xs hidden-sm"></div>
                        <h4>Saree</h4>
                        <div class="viewAll"><a href="#">View All</a></div>
                    </div>
                    <div class="row carousel_it exUnstiched">

                    <div id="owl-demo2" class="owl-carousel owl-theme">


                        <div class="item">
                           <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod1.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>
                                <div class="img-title">New Stylish Scarves</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹899.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>

                         <div class="item">
                         <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod2.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;"><img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1"></a>
                                </div>
                                <div class="img-title">Cotton Handblock print saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹1799.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>

                         </div>

                         <div class="item">
                         <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod3.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>
                                <div class="img-title">Indigo Dabu(Mud) Print Saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹999.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>

                         </div>

                         <div class="item">
                         <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod4.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>
                                <div class="img-title">Indigo Dabu(Mud) Print Saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹999.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/detail/indigo-dabu-mud-print-saree.html">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>

                         </div>

                         <div class="item">
                         <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod4.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>
                                <div class="img-title">Indigo Dabu(Mud) Print Saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹999.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/detail/indigo-dabu-mud-print-saree.html">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>

                         </div>

                         <div class="item">
                         <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod4.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>
                                <div class="img-title">Indigo Dabu(Mud) Print Saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹999.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/detail/indigo-dabu-mud-print-saree.html">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>

                         </div>

                         <div class="item">
                         <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod4.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>
                                <div class="img-title">Indigo Dabu(Mud) Print Saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>Rs.999.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/detail/indigo-dabu-mud-print-saree.html">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>

                         </div>




                    </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row just-in">
            <div class="col-sm-12">
                <div class="must-have">
                    <div class="col-md-12 title-container">
                        <div class="line hidden-xs hidden-sm"></div>
                        <h4>Unstiched Material</h4>
                        <div class="viewAll"><a href="#">View All</a></div>
                    </div>
                    <div class="row carousel_it exUnstiched">
                        <div class="col-lg-3 plr-0">
                            <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod1.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>

                                <div class="img-title">New Stylish Scarves</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹899.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/detail/new-stylish-scarves.html">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 plr-0">
                            <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod2.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;"><img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1"></a>
                                </div>
                                <div class="img-title">Cotton Handblock print saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹1799.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 plr-0">
                            <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod3.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>
                                <div class="img-title">Indigo Dabu(Mud) Print Saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹999.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 plr-0">
                            <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod4.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>

                                <div class="img-title">Indigo Dabu(Mud) Print Saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹999.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>
                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="row just-in">
            <div class="col-sm-12">
                <div class="must-have">
                    <div class="col-md-12 title-container">
                        <div class="line hidden-xs hidden-sm"></div>
                        <h4>About NeeleDhaage </h4>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="about_area">
                                <div class="about_image">
                                    <img src="uploads/product/us1.jpg">
                                    <div class="clr"></div>
                                </div>



                                <div class="about_section_content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum ut eros non pretium.
                                        Donec id porta enim. Fusce id libero feugiat, dignissim orci a,
                                        facilisis magna. Maecenas dapibus mi vel lorem mattis, ut malesuada diam dictum.
                                        Maecenas a quam sit amet mauris vehicula elementum. Sed eu elit a libero tristique iaculis.
                                        Integer nec sollicitudin augue, ac rutrum ipsum.
                                    </p>

                                    <div class="readmore">Read More</div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>

        <div class="row just-in">
            <div class="collections_section bg-grey-collection">
                <div class="contentarea">
                    <div class="row">
                        <div class="col span_12">
                            <div class="collection">
                                <div class="block-heading" style="text-transform: uppercase;">shop collections</div>
                            </div>
                        </div>
                        <p>
                        </p><div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="colorful-splash">
                                        <img src="https://neeledhaage.com/uploads/product/Shaista-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">SHAISTA</div>

                                        <div class="subheading">Vraj</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="poshaak/">
                                        <img src="https://neeledhaage.com/uploads/product/BHANDHAN-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">BHANDHAN</div>

                                        <div class="subheading">House Off Garments</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="floral-paradise/">
                                        <img src="https://neeledhaage.com/uploads/product/Spardha-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">SPARDHA</div>

                                        <div class="subheading">Tanya Berry</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="vanaj/">
                                        <img src="https://neeledhaage.com/uploads/product/vanaj-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">VANAJ</div>

                                        <div class="subheading">Kavana</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="sway-in-style/">
                                        <img src="https://neeledhaage.com/uploads/product/free-boond-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">FREE PEOPLE</div>

                                        <div class="subheading">Boond</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="https://www.theloom.in/jewelry-vendors/sterling-bloom/">
                                        <img src="https://neeledhaage.com/uploads/product/ETERNAL-ENAMEL-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">ETERNAL ENAMEL</div>

                                        <div class="subheading">Aarai</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="soulful-weaves/">
                                        <img src="https://neeledhaage.com/uploads/product/Brinda-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">BRINDA</div>

                                        <div class="subheading">Artisans Saga</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="https://www.theloom.in/kids-wear/dear-kiddiewinks">
                                        <img src="https://neeledhaage.com/uploads/product/Bagiya-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">BAGIYA</div>

                                        <div class="subheading">Tiber Taber</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="rozana/">
                                        <img src="https://neeledhaage.com/uploads/product/Sehaj-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">SEHAJ</div>

                                        <div class="subheading">Shaaba</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="limebell">
                                        <img src="https://neeledhaage.com/uploads/product/indpromo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">INDIAN WEAVE</div>

                                        <div class="subheading">Pinksky</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="https://www.theloom.in/jewelry-vendors/brass-epoch/">
                                        <img src="https://neeledhaage.com/uploads/product/Banjara-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">BANJARA</div>

                                        <div class="subheading">Studio B40</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="boho-aakaar">
                                        <img src="https://neeledhaage.com/uploads/product/Stripe-trease-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">STRIPE TREASE</div>

                                        <div class="subheading">Mati India</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="illustrious-ikats-mangalgiri-mondays/">
                                        <img src="https://neeledhaage.com/uploads/product/White-out-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">WHITE OUT</div>

                                        <div class="subheading">Indian Dobby</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="strings-colors/">
                                        <img src="https://neeledhaage.com/uploads/product/SUMMER-HOME-promo.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">SUMMER HOME</div>

                                        <div class="subheading">House Of Pink</div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 item">
                            <div class="collection-product">
                                <div class="collection-product-image">
                                    <a href="cotton-candy/">
                                        <img src="https://neeledhaage.com/uploads/product/AURORA-promo-2.jpg" width="764" height="764" layout="responsive" alt="a sample image">
                                    </a>

                                    <div class="collection-product-text">
                                        <div class="heading">AURORA</div>

                                        <div class="subheading">Baise Gaba</div>

                                    </div>

                                </div>
                            </div>
                        </div>


                        <p></p>
                        <div class="col span_12"><!--div class="collection-viewmore"><a href="https://www.theloom.in/clothing.html/">View More &gt;</a></div--></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row just-in">
            <div class="col-sm-12">
                <div class="must-have">
                    <div class="col-md-12 title-container">
                        <div class="line hidden-xs hidden-sm"></div>
                        <h4>Latest Arrivals</h4>
                        <div class="viewAll"><a href="#">View All</a></div>
                    </div>
                    <div class="row carousel_it exUnstiched">
                        <div class="col-lg-3 plr-0">
                            <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod1.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>

                                <div class="img-title">New Stylish Scarves</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹899.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 plr-0">
                            <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod2.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;"><img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1"></a>
                                </div>
                                <div class="img-title">Cotton Handblock print saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹1799.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 plr-0">
                            <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod3.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>
                                <div class="img-title">Indigo Dabu(Mud) Print Saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹999.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>

                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 plr-0">
                            <div class=" p-box">
                                <a href="shop/product-details/00000001">
                                    <img src="~/Images/Products/HomeProduct/Prod4.jpg" title="" alt="" class="img-responsive" width="" height="">
                                </a>
                                <div class="heart_list_holder2">
                                    <a href="signin.html" style="color: transparent !important; background-color: transparent !important; padding: 0px !important;">
                                        <img src="~/assets/default/images/heart-icon.png" class="heart_inactive" style="opacity:1">
                                    </a>
                                </div>

                                <div class="img-title">Indigo Dabu(Mud) Print Saree</div>
                                <div class="price-view">
                                    <div class="col-md-12 col-xs-12 price">
                                        <p>₹999.00</p>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <a href="shop/product-details/00000001">Buy Now</a>
                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="row home_subscription_container clearfix">
            <div class="col-md-12 title-container">
                <div class="line hidden-xs hidden-sm"></div>
                <h4>Be the First to know!</h4>
                <p class="text-center">Join our mailing list for exclusive access to the latest fashion trends, tips, and more.</p>
            </div>
            <div class="home_subscription_title">

                <div class="col-lg-12">
                    <form data-bind="submit: newsLetterSubscribe" class="clearfix">
                        <div class="newsletter-container clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 email-content" style="
    margin-right: -30px !IMPORTANT;
">
                                <input id="newsletter-email-address-input" data-bind="value: email, validatableValue: email, event: { keyup : checkEnter}" name="email" placeholder="Enter email here ">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <button type="submit" data-bind="disable: disableBtn" class="newsletterbtn"> <i data-bind="css: {'fa fa-spinner fa-spin': disableBtn}">&nbsp;&nbsp;</i>sign me up!</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row follow-us">
            <div class="col-sm-12 title-container">
                <div class="line hidden-xs hidden-sm"></div>
                <h4>Follow us</h4>
            </div>
            <!--<div class="col-sm-12 text-center">
             <a target="_blank" href=""><img src="assets/default/images/icon2.png" width="31"></a> <a target="_blank" href="https://www.facebook.com"><img src="assets/default/images/icon3.png" width="31"></a>
            </div>-->
            <div class="col-sm-12 text-center">
                <a target="_blank" href="https://www.twitter.com">
                    <img src="~/assets/default/images/icon1.png" width="31">
                </a>
                <a target="_blank" href="https://www.instagram.com">
                    <img src="~/assets/default/images/icon2.png" width="31">
                </a>
                <a target="_blank" href="https://www.facebook.com"><img src="~/assets/default/images/icon3.png" width="31"></a>
                <a target="_blank" href="https://www.pinterest.com" style="margin-right:0;">
                    <img src="~/assets/default/images/icon4.png" width="31">
                </a>
                <a target="_blank" href="https://www.youtube.com" style="margin-right:0;"><img src="~/assets/default/images/icon6.png" width="31"></a>

            </div>
        </div>
    </div>
</div>
<div class="modal fade hide" id="modalAds" role="dialog">
    <div class="modal-dialog  modal-bg-1">
        <div class="modal-body-content">
            <a class="close setcookie" data-value="oneday" data-dismiss="modal">×</a>
            <div class="modal-body">
                <div class="col-lg-6 col-sm-8 col-xs-12">
                    <h3>Stay	in Touch</h3>

                    <p>
                        Subscribe	to our	newsletter	and receive	15%	off	your first order.
                    </p>

                    <form id="newsletter" method="post" action="newsletter.html" class="newsletter ajaxform">
                        <input type="hidden" name="_token" value="YnWEo91Am7OaEbYzxNHlHpXs4zw2I30pEhcyup42" />
                        <div class="form-group clearfx">
                            <input type="text" id="subscribe" name="email" placeholder="Enter email">
                            <button class="subscribe-btn">Subscribe</button>
                        </div>
                    </form>

                    <p>  <a href="javascript:" data-value="forever" class="link shoplink setcookie">Please don’t show this again</a></p>


                </div>
                <div class="clr"></div>
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    var foreverurl = "http://www.route2carrer.com/setcookie";
    var onedayurl = "http://www.route2carrer.com/setcookieoneday";

    $(document).on("click", ".setcookie", function (event) {
        var dataval = $(this).attr('data-value');
        if (dataval == 'forever')
            var url = foreverurl;
        else
            var url = onedayurl;
        $.ajax({
            url: url,
            type: "get",
            dataType: 'JSON',
            data: $(this).serialize(),
            success: function (data) {
                $('#modalAds').modal('toggle');
                window.location.reload();
            },
        });
    });
</script>
<script>
    var rtocart_route = "http://www.route2carrer.com/remove-from-cart";
</script>
<script type="text/javascript">

    $(window).load(function () {
        $('#modalAds').modal('show');
        $('#modalAds').removeClass('hide');
    });
</script> 